.card {
  @apply p-6 shadow-md rounded-md flex items-center justify-center flex-col text-gray-700;
  width: 150px;
  height: 100px;

  @media (max-width: 600px) {
    width: 87%;
    height: fit-content;
    @apply p-3;
  }

  span {
    font-weight: 900;
    font-size: 1.5rem;

    @media (max-width: 600px) {
      font-size: 1rem;
    }

    display: block;
  }

  small {
    font-size: 1rem;

    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
  }
}
